/vendor
/.idea
/.vscode
/.vagrant
.phpunit.result.cache
/buildroot
/downloads
/source
.DS_Store
todo.md
.env
/storage/local-results
/storage/new-parsed
storage/tree.txt
/storage/logs
/bin/logs
builds/lsp
